@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

header img {
    width: 400px;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.clearance-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}